@import "../../styles/App.scss";

.content {
  @include flex(start, start, $dir1: column);
  width: 100%;
  max-width: 1180px;
  padding: 60px 32px 140px;
  margin: 0 auto;

  @media (max-width: 550px) {
    padding: 50px 20px 90px;
  }
  
  .link {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: $green;
  }
  .name {
    width: 100%;
    @include flex();
    font-size: 48px;
    font-weight: 700;
    color: $green;

    @media (max-width: 769px) {
      font-size: 40px;
      margin-top: 20px;
    }

    @media (max-width: 341px) {
      font-size: 36px;
    }
  }
}

.contain {
  height: 400px;
}
