@import "../../styles/App.scss";

.form {
  width: 280px;
  height: 40px;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: $white;
  @include flex();

  @media screen and (max-width: 768px){
    width: 100%;
  }
  .search {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    border: none;
    padding: 10px 12px;
  }

  .submit {
    height: 100%;
    width: 50px;
    border: none;
    background-color: $green;
    cursor: pointer;
  }
}