@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

$green: #397f84;
$gray: #f2f2f2;
$white: #fff;
$black: rgba(0, 0, 0, 0.2);

@mixin flex($center1: center, $center2: center, $gap: 0px, $dir1: row, $dir2: nowrap) {
  display: flex;
  justify-content: #{$center1};
  align-items: #{$center2};
  flex-flow: #{$dir1} #{$dir2};
  gap: #{$gap};
}
