@import "styles/App.scss";

.container {
  @include flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .half {
    @include flex(end);
    width: 50%;
    height: 100%;
    background-color: $skin;

    @media (max-width: 1050px) {
      @include flex;
    }
    @media (max-width: 550px) {
      @include flex(start);
    }
    p {
      font-size: 48px;
      font-weight: 600;
      margin-right: 200px;
      z-index: 3;
      @media (max-width: 1050px) {
        margin: 0;
      }
      @media (max-width: 550px) {
        margin-left: 40px;
        font-size: 40px;
      }
      @media (max-width: 440px) {
        font-size: 32px;
      }
    }
    &:last-child {
      justify-content: start;
      background-color: black;
      color: $skin;
      @media (max-width: 1050px) {
        @include flex;
      }
      @media (max-width: 550px) {
        @include flex(end);
      }
      p {
        margin: 0 0 0 200px;
        text-align: center;
        @media (max-width: 1050px) {
          margin: 0;
        }
        @media (max-width: 769px) {
          padding: 0 100px;
        }
        @media (max-width: 550px) {
          width: min-content;
          padding: 0 20px;
        }
      }
    }
  }
  .circle {
    position: absolute;
    width: 170px;
    aspect-ratio: 1/1;
    border-radius: 85px;
    background-color: $skin;
    animation: down 2s linear infinite;
    margin-left: -40px;

    &:first-child {
      top: -405px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(2) {
      top: -255px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(3) {
      top: -105px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(4) {
      top: 45px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(5) {
      top: 195px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(6) {
      top: 345px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(7) {
      top: 495px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(8) {
      top: 645px;
      left: 50%;
      translate: -50%;
    }
    &:nth-child(9) {
      top: 795px;
      left: 50%;
      translate: -50%;
    }
    &.black {
      background-color: black;
      margin: 0 40px 0;
    }
  }
}

@keyframes down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(88.8%);
  }
  100% {
    transform: translateY(177.6%);
  }
}
