@import "../../styles/App.scss";

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 48px;
  margin-top: 40px;
  width: 100%;

  @media (max-width: 900px) {
    gap: 36px;
  }

  @media (max-width: 769px) {
    @include flex(space-between, $dir1: column, $gap: 36px);
  }
  .imgDiv {
    @include flex();
    width: 420px;
    height: 420px;
    background-color: $gray;
    border-radius: 10px;
    padding: 20px;

    @media (max-width: 1050px) {
      width: 360px;
      height: 360px;
    }
    @media (max-width: 900px) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: 769px) {
      width: 400px;
      height: 400px;
    }
    @media (max-width: 550px) {
      width: 100%;
      height: auto;
      min-height: calc(100vw - 32px);
    }

    img {
      width: 100%;
    }
  }
  .wrapper {
    .flavor {
      font-size: 20px;
      font-weight: 400;

      @media (max-width: 550px) {
        font-size: 16px;
      }
    }
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 16px 20px;
      margin: 12px 0 0;
      gap: 24px;
    }
    .charts {
      margin-top: 32px;
      .heading {
        color: $green;
        font-size: 24px;
        font-weight: 700;
      }
      .content {
        width: 100%;
        margin: 12px 0 0;
        padding: 18px 20px;
        gap: 16px 36px;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));

        @media (max-width: 1200px) {
          gap: 16px 24px;
        }
        @media (max-width: 1050px) {
          padding: 0;
        }
        @media (max-width: 900px) {
          gap: 14px;
        }
        @media (max-width: 550px) {
          gap: 10px;
        }
        @media (max-width: 341px) {
          gap: 6px;
        }

        .chart {
          display: grid;
          grid-template-rows: repeat(15, 1fr);
          gap: 4px;
          height: 180px;

          @media (max-width: 1050px) {
            height: 160px;
            padding: 0;
          }
          .box {
            width: 100%;
            background-color: $gray;
            &.active {
              background-color: $green;
            }
          }
        }
        .chartName {
          margin: 6px 0 0;
          text-align: center;

          @media (max-width: 1050px) {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}